@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/utilities' as*;

.new-tab {
    background-color: var(--primary-color);
    padding: clamp(8rem, calc(5rem + 6.25vw), 14rem) clamp(1.8rem, calc(-11.95rem + 28.646vw), 29.3rem);

    &__container {
        @include flexColumnCenter($gap: clamp(3.5rem, calc(2.25rem + 2.604vw), 6rem));
    }

    &__title{
        text-align: center;
        font-size: clamp(var(--heading-md), calc(1.8rem + 3.75vw), var(--display-md));
        font-weight: var(--bolder-weight);
        line-height: var(--heading-tight);
        color: var(--black);
    }

    &__content {
        width: 100%;
        @include flexRowCenter($gap: 2.4rem);
    }

    &__left-comment {
        @include flexColumnCenter;
        animation: moveRotateDirection 2s ease 0s infinite normal;

        img:first-child {
            transform: translateX(2rem);
        }
    }
    &__right-comment {
        @include flex($direction: column-reverse);
        animation: moveRotateDirection 2s ease 0s infinite normal;
        img:first-child {
            transform: translateX(-3rem);
        }
    }

    &__center-comment {
        width: clamp(33.9rem, calc(28.161rem + 15.305vw), 50.2rem);
        padding: clamp(2.4rem, calc(1.132rem + 3.38vw), 6rem) clamp(2.4rem, calc(0.428rem + 5.258vw), 8rem);
        border-radius: 1.8rem;
        background-color: var(--white);
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        width: 70%;
        text-align: center;
        font-size: clamp(var(--text-sm), calc(1.2rem + 0.417vw), var(--text-md));
        font-weight: var(--regular-weight);
        line-height: var(--body-relaxed);
        color: var(--black);
    }


    @keyframes moveRotateDirection {
        0%,
        100%{
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(15deg);
        }
    }

    @keyframes moveRotateDirectionMobile {
        0%,
        100%{
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }
}

.startup {
    padding: clamp(8rem, calc(5.887rem + 5.634vw), 14rem) clamp(1.8rem, calc(-2.496rem + 11.455vw), 14rem);
    background-color: var(--white);

    &__entrence-title {
        @include flex($direction: column, $align: flex-start);
        margin-block-end: clamp(16rem, calc(11.775rem + 11.268vw), 28rem);

        .gray-text {
            color: var(--gray);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(1.6rem, calc(1.037rem + 1.502vw), 3.2rem);
    }

    &__box {
        background-color: var(--light-gray-2);
        height: clamp(7.4rem, calc(5.78rem + 4.319vw), 12rem);
        @include flexColumnCenter;
        border-radius: .8rem;
        transition: box-shadow 0.8s ease;
        position: relative;
        overflow: hidden;

        img {
            max-width: max-content;
        }


        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(120deg, transparent 30%, rgba(255, 255, 255, 0.69) 50%, transparent 70%);
            transform: translateX(-120%) skewX(-20deg);
            pointer-events: none;
        }

        &:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        @media (prefers-reduced-motion: no-preference) {
            &:hover::before {
                animation: hover-shine 1.5s ease-in infinite;
            }
        }

        @keyframes hover-shine {
            from { transform: translateX(-120%) skewX(-20deg); }
            to { transform: translateX(220%) skewX(-20deg); }
        }
    }
}

.connect {
    padding: clamp(8rem, calc(5.887rem + 5.634vw), 14rem) clamp(1.8rem, calc(-2.496rem + 11.455vw), 14rem);
    background-color: var(--light-gray-1);

    &__icons {
        @include flex(
            $justify: space-between,
            $wrap: wrpa,
            $gap:clamp(1rem, calc(0.507rem + 1.315vw), 2.4rem)
        );
        margin-block-end: clamp(3.2rem, calc(1.616rem + 4.225vw), 7.7rem);
        
        &__box {
            width: clamp(6.4rem, calc(4.287rem + 5.634vw), 12.4rem);
            height: clamp(6.4rem, calc(4.287rem + 5.634vw), 12.4rem);
            @include flexRowCenter;
            border-radius: .8rem;
            transition: background-color .2s ease;

            img{ 
                width: clamp(3.2rem, calc(2.144rem + 2.817vw), 6.2rem);
                object-fit: cover;}

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }

    &__comments {
        @include flexColumnCenter($gap: clamp(1.6rem, calc(0.649rem + 2.535vw), 4.3rem) 0);
        margin-block-start: clamp(3.2rem, calc(1.616rem + 4.225vw), 7.7rem);
        margin-block-end: clamp(3.2rem, calc(1.51rem + 4.507vw), 8rem);
        margin-inline:clamp(0rem, calc(-6.268rem + 16.714vw), 17.8rem);
        .comment__box {
            width: 100%;
            @include flexRowCenter;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__btn {
        margin: 0 auto;
        padding: clamp(1.2rem, calc(1.059rem + 0.376vw), 1.6rem) clamp(2.4rem, calc(2.118rem + 0.751vw), 3.2rem);
        background-color: var(--black);
        color: var(--white);
        border-radius: 4rem;
        transition: all .2s ease;
        font-size: clamp(var(--text-sm), calc(1.259rem + 0.376vw), var(--text-md));

        &:hover,
        &:focus-visible
        { 
            background-color: var(--primary-color);
            color: var(--black);
        }
    }
}



/** Media Query*/

@media (max-width: 768px)  {
    .startup {
        &__content {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}

@media (max-width: 480px) {

    .new-tab {

        &__content {
            @include flex($direction: column-reverse);
        }

        &__right-comment {
            width: 100%;
            align-items: flex-end;
            animation: moveRotateDirectionMobile 2s ease 0s infinite normal;

            img:last-child {
                transform: translateY(2rem);
            }

            img:first-child {
                transform: rotateX(0deg) rotateY(180deg) rotateZ(225deg) translateX(-4rem) translateY(1rem);
            }
        }

        &__left-comment {
            width: 100%;
            align-items: flex-start;
            animation: moveRotateDirectionMobile 2s ease 0s infinite normal;

            img:first-child {
                transform: rotate(-45deg) translateX(3rem) translateY(1rem);
            }

            img:last-child {
                transform: rotate(-5deg) translateY(-1rem);
            }
        }

        &__text {
            width: 85%;
        }
    }

    .startup {

        &__entrence-title {
            span {
                font-weight: var(--heading-weight);
            }
        }

        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}