:root {

    /*! Colors */
    --white: #FFFFFF;
    --light-gray-1: #FAFAFA;
    --light-gray-2: #F5F5F5;
    --gray: #ADADAD;
    --black: #000000;
    --primary-color: #A8FF35;
    --primary-shadow: #87D322;

    /** Typography */

    --font-family: "Source Sans 3", sans-serif;

    /** Font Size */

    --text-sm: 1.4rem;
    --text-md: 1.8rem;
    --text-lg: 2.4rem;
    --heading-md: 3.6rem;
    --display-sm: 6.4rem;
    --display-md: 7.2rem;

    /** Font Weight */

    --regular-weight: 400;
    --bold-weight: 500;
    --bolder-weight: 700;
    --heading-weight: 900;

    
    /** Line-height  */

    --display-tight: 112%;
    --heading-tight: 100%;
    --body-normal: 140%;
    --body-relaxed: 150%;
    
}