:root {
  /*! Colors */
  --white: #FFFFFF;
  --light-gray-1: #FAFAFA;
  --light-gray-2: #F5F5F5;
  --light-gray-3: #8B8B8B;
  --gray: #ADADAD;
  --black: #000000;
  --primary-color: #A8FF35;
  --primary-shadow: #87D322;
  /** Typography */
  --font-family: "Source Sans 3", sans-serif;
  /** Font Size */
  --text-sm: 1.4rem;
  --text-md: 1.8rem;
  --text-lg: 2.4rem;
  --heading-md: 3.6rem;
  --display-sm: 6.4rem;
  --display-md: 7.2rem;
  /** Font Weight */
  --regular-weight: 400;
  --bold-weight: 500;
  --bolder-weight: 700;
  --heading-weight: 900;
  /** Line-height  */
  --display-tight: 112%;
  --heading-tight: 100%;
  --body-normal: 140%;
  --body-relaxed: 150%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, img, input, button {
  display: block;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /** 10px=1rem */
}

body {
  font-family: var(--font-family);
  background-color: var(--black);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  font-weight: var(--regular-weight);
}

.navigation {
  padding: clamp(2.4rem, 2.224rem + 0.469vw, 2.9rem) clamp(0rem, -2.817rem + 7.512vw, 8rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0 clamp(5rem, -14.771rem + 25.744vw, 22.3rem);
}
.navigation__logo {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  gap: 1.32rem;
  z-index: 10;
}
.navigation__logo--img {
  width: 4rem;
  height: 4rem;
}
.navigation__logo--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navigation__logo--text {
  font-weight: var(--bolder-weight);
  font-size: clamp(var(--text-md), -23.571rem + 33.036vw, var(--text-lg));
  line-height: var(--heading-tight);
  color: var(--white);
}
.navigation__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  z-index: 9;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0 clamp(1rem, -2.429rem + 4.464vw, 4rem);
}
.navigation__link {
  position: relative;
  font-weight: var(--regular-weight);
  font-size: clamp(var(--text-sm), 0.943rem + 0.595vw, var(--text-md));
  line-height: var(--heading-tight);
  color: var(--white);
}
.navigation__link::after, .navigation__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  border-radius: 1rem;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.2s ease;
}
.navigation__link::after {
  bottom: -0.3rem;
}
.navigation__link::before {
  bottom: -0.9rem;
}
.navigation__link:hover::after, .navigation__link:focus-visible::after {
  width: 100%;
}
.navigation__link:hover::before, .navigation__link:focus-visible::before {
  width: 60%;
}
.navigation__link:active::before {
  width: 100%;
}
.navigation__login {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
}
.navigation__login .login-btn {
  font-weight: var(--regular-weight);
  font-size: clamp(var(--text-sm), 0.943rem + 0.595vw, var(--text-md));
  line-height: var(--heading-tight);
  padding: clamp(1rem, 0.771rem + 0.298vw, 1.2rem) clamp(1.6rem, -0.229rem + 2.381vw, 3.2rem);
  outline: none;
  border: none;
  border-radius: 4rem;
  transition: all 0.2s;
}
.navigation__login .btn-black {
  background-color: var(--black);
  color: var(--white);
}
.navigation__login .btn-black:hover,
.navigation__login .btn-black:focus-visible {
  background-color: var(--primary-color);
  color: var(--black);
}
.navigation__login .btn-white {
  background-color: var(--white);
}
.navigation__login .btn-white:hover,
.navigation__login .btn-white:focus-visible {
  background-color: var(--primary-color);
}
.navigation .btn-toggle {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.navigation .btn-toggle span {
  width: 1.8rem;
  height: 0.2rem;
  background-color: var(--white);
  transition: all 0.2s ease;
}

/** Media Query*/
@media (max-width: 768px) {
  .navigation {
    position: fixed;
    padding: 2.4rem 1.8rem;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
  }
  .navigation__nav {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--black);
    transition: all 0.2s ease-in;
  }
  .navigation__nav.active {
    transform: translateX(0%);
  }
  .navigation__logo {
    position: relative;
  }
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4rem;
  }
  .navigation__link {
    font-size: 1.8rem;
  }
  .navigation__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .navigation .btn-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }
  .navigation .btn-toggle.rotate .first-line-span {
    transform-origin: top left;
    transform: rotate(45deg);
  }
  .navigation .btn-toggle.rotate .last-line-span {
    transform-origin: bottom left;
    transform: translateY(0.35rem) rotate(-45deg);
  }
}
.header {
  margin-block-start: 10rem;
  margin-block-end: 9rem;
}
.header__title {
  text-align: center;
  font-size: clamp(3.6rem, -0.514rem + 5.357vw, 7.2rem);
  font-weight: var(--heading-weight);
  line-height: var(--display-tight);
  color: var(--white);
  margin-block-end: clamp(1.6rem, 0.686rem + 1.19vw, 2.4rem);
}
.header__text {
  text-align: center;
  font-size: clamp(var(--text-sm), 0.943rem + 0.595vw, var(--text-md));
  font-weight: var(--regular-weight);
  line-height: var(--body-relaxed);
  color: var(--light-gray-3);
  margin-block-end: 2.8rem;
}
.header__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin-block-end: clamp(6rem, 2rem + 5.208vw, 9.5rem);
}
.header__btn .get-start {
  font-size: clamp(var(--text-sm), 0.943rem + 0.595vw, var(--text-md));
  font-weight: var(--bolder-weight);
  line-height: var(--body-normal);
  color: var(--black);
  padding: clamp(1.2rem, 0.743rem + 0.595vw, 1.6rem) clamp(2.4rem, 1.486rem + 1.19vw, 3.2rem);
  border-radius: 4rem;
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;
}
.header__btn .get-start .fire-icon {
  animation: myAnim 2.5s ease 0s infinite normal forwards;
}
.header__btn .get-start .get-start-text {
  animation: myAnim 2.5s ease 0s infinite normal forwards;
}
.header__btn .get-start:hover {
  background-color: var(--primary-shadow);
}
.header__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  padding-inline: clamp(0rem, -21.143rem + 27.53vw, 18.5rem);
}
.header__social img {
  width: clamp(25rem, 13.571rem + 14.881vw, 35rem);
}
.header__social img:nth-child(1) {
  z-index: 4;
  animation: commentRain 2s ease 0s 1 normal forwards;
}
.header__social img:nth-child(2) {
  transform: translateX(-10rem) translateY(6rem);
  z-index: 3;
  animation: reverseCommentRain 2s ease 0s 1 normal forwards;
}
.header__social img:nth-child(3) {
  transform: translateX(-20rem) translateY(0.5rem);
  z-index: 2;
  animation: commentRain 2s ease 0s 1 normal forwards;
}
.header__social img:nth-child(4) {
  transform: translateX(-30rem) translateY(6rem);
  z-index: 1;
  animation: reverseCommentRain 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes commentRain {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes reverseCommentRain {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
  }
}
/** Media Query*/
@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
    margin-block-end: 0;
  }
  .header__social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .header__social img:nth-child(2) {
    transform: translateX(-2rem) translateY(0);
  }
  .header__social img:nth-child(3) {
    transform: translateX(2rem) translateY(0);
  }
  .header__social img:nth-child(4) {
    transform: translateX(0) translateY(0);
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0 2.8rem;
  }
  .header__btn img {
    display: none;
  }
  .header__social {
    display: block;
  }
  .header img {
    width: 100%;
  }
  .header img:nth-child(2) {
    transform: translateX(0) translateY(-2rem);
  }
  .header img:nth-child(3) {
    transform: translateX(0) translateY(-5rem);
  }
  .header img:nth-child(4) {
    transform: translateX(0) translateY(-7rem);
  }
}
.new-tab {
  background-color: var(--primary-color);
  padding: clamp(8rem, 5rem + 6.25vw, 14rem) clamp(1.8rem, -11.95rem + 28.646vw, 29.3rem);
}
.new-tab__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(3.5rem, 2.25rem + 2.604vw, 6rem);
}
.new-tab__title {
  text-align: center;
  font-size: clamp(var(--heading-md), 1.8rem + 3.75vw, var(--display-md));
  font-weight: var(--bolder-weight);
  line-height: var(--heading-tight);
  color: var(--black);
}
.new-tab__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.new-tab__left-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  animation: moveRotateDirection 2s ease 0s infinite normal;
}
.new-tab__left-comment img:first-child {
  transform: translateX(2rem);
}
.new-tab__right-comment {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  animation: moveRotateDirection 2s ease 0s infinite normal;
}
.new-tab__right-comment img:first-child {
  transform: translateX(-3rem);
}
.new-tab__center-comment {
  width: clamp(33.9rem, 28.161rem + 15.305vw, 50.2rem);
  padding: clamp(2.4rem, 1.132rem + 3.38vw, 6rem) clamp(2.4rem, 0.428rem + 5.258vw, 8rem);
  border-radius: 1.8rem;
  background-color: var(--white);
}
.new-tab__center-comment img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-tab__text {
  width: 70%;
  text-align: center;
  font-size: clamp(var(--text-sm), 1.2rem + 0.417vw, var(--text-md));
  font-weight: var(--regular-weight);
  line-height: var(--body-relaxed);
  color: var(--black);
}
@keyframes moveRotateDirection {
  0%, 100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes moveRotateDirectionMobile {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.startup {
  padding: clamp(8rem, 5.887rem + 5.634vw, 14rem) clamp(1.8rem, -2.496rem + 11.455vw, 14rem);
  background-color: var(--white);
}
.startup__entrence-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  margin-block-end: clamp(16rem, 11.775rem + 11.268vw, 28rem);
}
.startup__entrence-title .gray-text {
  color: var(--gray);
}
.startup__entrence-title span, .startup__title {
  font-size: clamp(var(--heading-md), 2.614rem + 2.629vw, var(--display-sm));
  font-weight: var(--bolder-weight);
  line-height: var(--heading-tight);
  color: var(--black);
}
.startup__title {
  text-align: center;
  margin-block-end: clamp(3.2rem, 1.51rem + 4.507vw, 8rem);
}
.startup__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1.6rem, 1.037rem + 1.502vw, 3.2rem);
}
.startup__box {
  background-color: var(--light-gray-2);
  height: clamp(7.4rem, 5.78rem + 4.319vw, 12rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 0.8rem;
  transition: box-shadow 0.8s ease;
  position: relative;
  overflow: hidden;
}
.startup__box img {
  max-width: -moz-max-content;
  max-width: max-content;
}
.startup__box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, transparent 30%, rgba(255, 255, 255, 0.69) 50%, transparent 70%);
  transform: translateX(-120%) skewX(-20deg);
  pointer-events: none;
}
.startup__box:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (prefers-reduced-motion: no-preference) {
  .startup__box:hover::before {
    animation: hover-shine 1.5s ease-in infinite;
  }
}
@keyframes hover-shine {
  from {
    transform: translateX(-120%) skewX(-20deg);
  }
  to {
    transform: translateX(220%) skewX(-20deg);
  }
}

/** Media Query*/
@media (max-width: 768px) {
  .startup__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .new-tab__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
  .new-tab__right-comment {
    width: 100%;
    align-items: flex-end;
    animation: moveRotateDirectionMobile 2s ease 0s infinite normal;
  }
  .new-tab__right-comment img:last-child {
    transform: translateY(2rem);
  }
  .new-tab__right-comment img:first-child {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(225deg) translateX(-4rem) translateY(1rem);
  }
  .new-tab__left-comment {
    width: 100%;
    align-items: flex-start;
    animation: moveRotateDirectionMobile 2s ease 0s infinite normal;
  }
  .new-tab__left-comment img:first-child {
    transform: rotate(-45deg) translateX(3rem) translateY(1rem);
  }
  .new-tab__left-comment img:last-child {
    transform: rotate(-5deg) translateY(-1rem);
  }
  .new-tab__text {
    width: 85%;
  }
  .startup__entrence-title span {
    font-weight: var(--heading-weight);
  }
  .startup__content {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=main.css.map */